.container {
  display: flex;
  height: 50px;
  background-color: goldenrod;
  width: 250px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}
